body {
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
  }
  
  code {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
  }

  .content {
    padding-top: 5px;
    padding-bottom: 100px;
    max-width: 75%;
    margin: auto;
  }
  
  .index-content {
    padding-top: 10px;
    padding-bottom: 100px;
    max-width: 75%;
    margin: auto;
    margin: auto;
    width: 60%;

    padding: 10px;
    height: 250px;
    padding-bottom: 60rem;
  }

  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(39, 38, 38);
   color: white;
   text-align: center;
   height: 75px;
   padding-top: 1em;
}
